<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573926476490-8p9vkqad4uu0fpk9am0phpqir9hc6eqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573926476490-8p9vkqad4uu0fpk9am0phpqir9hc6eqv</string>
	<key>API_KEY</key>
	<string>AIzaSyCoxIbt5Ak7kSuB6EVZJijKc2n5ErqlKBs</string>
	<key>GCM_SENDER_ID</key>
	<string>573926476490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dylan.Twitter</string>
	<key>PROJECT_ID</key>
	<string>twitteriossimulator</string>
	<key>STORAGE_BUCKET</key>
	<string>twitteriossimulator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573926476490:ios:8c55b0b265cc32e13b4233</string>
</dict>
</plist>